.splash-logo-container {
    text-align: center;
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%
}

.splash-logo-side-text-container {
    height: 400px;
    width: 50%;
    float: left;
    padding: 2%
}

.splash-logo-side-text {
    font-size: 2em;
    padding-top: 29%;
    padding-left: 1%;
}

.splash-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider {
    height: 400px;
    width: 100%;
    background-color: black;
}

.about-page {
    height: 95vh;
    background-color: black;
    
}

table {
    padding: 20px;
    width: 100%;
    margin-left: 20px;
    /* height: 100%; */
}

tr, td, th {
    font-size: large;
    padding: 5px;
    color: white;
}