/* cant figure out how to make this local splash page style because of syntax problems with quotation marks */
.splash-back {
  background: url("../../../dist/images/mic.jpeg") no-repeat center;
}

.body {
  background-color: black;
  background-size: 100%;
  min-height: calc(100vh - 50px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.pagination-menu {
  justify-content: center;
  display: flex;
  padding: 30px;
}

.splash-text {
  color: white;
  display: flex;
  flex-direction:  column;
  flex-basis: 100%;
  flex: 4;
  text-align: right;
}

/* overriding pagination menu styles */
.item {
  background-color: black !important;
  color: rgb(173, 173, 173) !important;
}

/* overriding pagination menu styles */
.active.item {
  background-color: white !important;
  color: black !important;
}

.lds-ripple {
  display: inline-block;
  position: fixed;
  bottom: calc(50vh - 40px);
  right: calc(50vw - 40px);
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.search-div {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  width: calc(100vw-30px);
  text-align: right;
  justify-content: flex-end;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (max-width: 500px){
  .splash-back {
    /* background-size: auto calc(100vh - 50px) !important; */
    background: url("../../../dist/images/mic-mobile.jpeg") no-repeat center;
  }

  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 35px !important;
  }

  h6 {
    font-size: 20px !important;
  }
}

.title {
  color: white;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
}

@keyframes appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.appear-first {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.appear-second {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.appear-third {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.appear-fourth {
  animation-name: appear;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.appear-fifth {
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.appear-sixth {
  animation-name: appear;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}