/* wasnt able to remove this, caused errors */
.band-navbar {
    background-color: black;
    height: 6vh;
    width: 100%;
}

.card-img {
    height: 446px;
    width: 446px;
    margin: auto;
    border-radius: 3px;
}

.card-text {
    color: white;
}

.card {
    background-color: black;
    border: rgb(53, 53, 53);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 450px;
    margin: 30px;
    border-radius: 3px;
}

.card-stats {
    color: rgb(170, 170, 170);
}

.details {
    min-width: 1000px;
    height: 303px;
    background-color: black;
    border: rgb(53, 53, 53);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 450px;
    margin: 60px;
    border-radius: 3px;
}


.details-img {
    float: left;
    height: 300px;
    width: 300px;
}

.details-card-img { 
    height: 300px;
    width: 300px;
    border-radius: 3px;
}